#foto-profil {
    width: 210px;
    height: 210px;
    left: 608.91px;
    top: 279px;

    max-width:100%;
    max-height:100%;
}

.page {
    /* width: 100vw; */
    min-height: 100vh;

    /* margin-top: 50vh; */
     
    position: relative;
}

body { 
    height: 100%;
}

center {
  display: block;
  text-align: -webkit-center;
}

.hello {
  font-size: 4vh;
  font-family: "Playfair Display";
}

/* Cursor */
.typed-cursor {
  font-size: 4vh;
}

.educationimg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-img {
  width: 155px;
  height: 155px;
  left: 165px;
  top: 2021px;

    max-width:100%;
    max-height:100%;
}

.hobby-text {
  font-family: Allerta;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
}

.desc {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;

  color: #2c393f;
}

#intro {
  margin-top: 0;
}

#contact {
  margin-bottom: 0;
}

/* .bugfix {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  flex-direction: column;
} */

.jumbotron {
  background-color: white;
}